HOST: http://analytics.tnt-ea.com

--- Analytics ---

---
TNT Analytics Service API
---

--
Version Resource
--

GET /rest/version
> Content-Type: application/json
< 200
{
    "serviceId": "analytics-frontend",
    "serviceVersion": "0.0.1",
    "environment": "integration",
    "apiVersions": "v1"
}

-- 
Event Resource

Resource for use in tracking events

# Field: Name

* Field: `name`
* Type: String
* Required: Yes

**Note:** If this field is not specified in the request, the event will be considered in an **error** state.
Events in an error state will be published to the error output location, and not available in any reports.

# Field: User Id

* Field: `parameters.userId`
* Type: String
* Required: Yes

**Note:** If this field is not specified in the request, the event will be considered in an **error** state.
Events in an error state will be published to the error output location, and not available in any reports.


# Field: Platform

* Field: `parameters.platform`
* Type: String
* Required: Yes

The `parameters.platform` field can have any of the following values:

* `apple` - If the user is playing on an Apple device
* `google` - If the user is playing on a Google device
* `amazon` - If the user is playing on an Amazon device

**Note**: If none of the above platforms are specified, the platform will be specified as `unknown`.
In this case the event will be considered in an error state, and will be published to the error output location and will not be available in any reports.

# Field: Session Id

* Field: `parameters.sessionId`
* Type: String
* Required: Yes

**Note:** If this field is not specified in the request, the event will be considered in an **error** state.
Events in an error state will be published to the error output location, and not available in any reports.

# Field: Type

* Field: `parameters.type`
* Type: String
* Required: Yes

The `parameters.type` field can have any of the following values:

* `tnt` - For events whose format is specified by TNT in this document.
* `custom` - For custom events.

**Note**: If none of the above types are specified, the platform will be specified as `unknown`.
In this case the event will be published to the unknown type output location and will not be available in any reports.

# Field: Timestamp

* Field: `parameters.timestamp`
* Type: Long (milliseconds since epoch)
* Required: No

**Note**: If a timestamp is not specified, the server will fill in this field with the current server time.
It is recommended to send your own timestamp, to ensure accurracy of reports.

# Field: TNT Id

* Field: `parameters.tntId`
* Type: String
* Required: No

**Note**: Though not required, it is recommended to send a TNT Id in your request (if available).
Sending a TNT Id will allow for cross service querying and reporting.

--

Track an event.

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "log-in",
      "parameters": {
        "userId": "1234",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386105886413
    }
  }
}
< 201

Track an event with custom parameters.  Custom parameters can be any of the following: strings, integers, decimal numbers, timestamps.

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "log-in",
      "parameters": {
        "userId": "1234",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386105886413
        "customString": "something",
        "customTimestamp": "2013-11-11T13:24:587Z",
        "customDecimal": 2.5,
        "customInteger": 5
    }
  }
}
< 201

-- 
Event Log Resources 
Resources for use in tracking multiple events.

Instead of making multiple requests to the `events` endpoint, you can batch events into a single request using
the `eventlog` endpoint. 

**Note**: Ad events tracked using the `eventlog` endpoint must also conform to the documentation for 
the `events` endpoint listed above.

--

Track an event log.

POST /rest/v1/games/:gameId/eventlog
> Content-Type: application/json
{
    "events": [
        {
            "name": "log-in",
            "parameters": {
                "userId": "1234",
                "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
                "platform":"apple",
                "sessionId":"1234567890",
                "type":"tnt",
                "timestamp": 1386105886413
        },
        {
            "name": "log-out",
            "parameters": {
                "userId": "1234",
                "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
                "platform":"apple",
                "sessionId":"1234567890",
                "type":"tnt",
                "timestamp": 1386105886413
        }
    ]
}
< 201

--
Analytics API Responses
--

Successful Response

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "log-in",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403
    }
  }
}
< 202
{
    "results": [
        {
            "event": {
                "name": "log-in",
                "parameters": {
                    "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
                    "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
                    "platform": "apple",
                    "sessionId": "1234567890",
                    "type": "tnt",
                    "timestamp": 1386168467403,
                    "serverTimestamp": 1386169997104,
                    "gameId": "pogs"
                }
            },
            "result": {
                "warnings": false,
                "errors": false,
                "fieldMessages": []
            }
        }
    ]
}

Warning Response

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "log-in",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt"
    }
  }
}
< 202
{
    "results": [
        {
            "event": {
                "name": "log-in",
                "parameters": {
                    "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
                    "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
                    "platform": "apple",
                    "sessionId": "1234567890",
                    "type": "tnt",
                    "serverTimestamp": 1386170056017,
                    "gameId": "pogs",
                    "timestamp": 1386168467403
                }
            },
            "result": {
                "warnings": true,
                "errors": false,
                "fieldMessages": [
                    {
                        "fieldName": "parameters.timestamp",
                        "level": "WARN",
                        "message": "You did not specify a timestamp in your request, setting timestamp to server time for this event. If possible you should specify your own timestamp for report accurracy."
                    }
                ]
            }
        }
    ]
}

Error Response

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "log-in",
      "parameters": {
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403
    }
  }
}
< 202
{
    "results": [
        {
            "event": {
                "name": "log-in",
                "parameters": {
                    "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
                    "platform": "apple",
                    "sessionId": "1234567890",
                    "type": "error",
                    "timestamp": 1386168467403,
                    "serverTimestamp": 1386170162181,
                    "gameId": "pogs"
                }
            },
            "result": {
                "warnings": false,
                "errors": true,
                "fieldMessages": [
                    {
                        "fieldName": "parameters.userId",
                        "level": "ERROR",
                        "message": "You did not specify a userId in your request. Since userId is a required field, this event will be published to the error output location and not included in any reports."
                    }
                ]
            }
        }
    ]
}

Multiple Response Messages

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "log-in",
      "parameters": {
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt"
    }
  }
}
< 202
{
    "results": [
        {
            "event": {
                "name": "log-in",
                "parameters": {
                    "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
                    "platform": "apple",
                    "sessionId": "1234567890",
                    "type": "error",
                    "serverTimestamp": 1386170190793,
                    "gameId": "pogs",
                    "timestamp": 1386170190793
                }
            },
            "result": {
                "warnings": true,
                "errors": true,
                "fieldMessages": [
                    {
                        "fieldName": "parameters.userId",
                        "level": "ERROR",
                        "message": "You did not specify a userId in your request. Since userId is a required field, this event will be published to the error output location and not included in any reports."
                    },
                    {
                        "fieldName": "parameters.timestamp",
                        "level": "WARN",
                        "message": "You did not specify a timestamp in your request, setting timestamp to server time for this event. If possible you should specify your own timestamp for report accurracy."
                    }
                ]
            }
        }
    ]
}

--
Tracking Ad Events

Below are some examples of sending ad events to the TNT Analytics Service.  Ad events are just regular events, 
sent to the `events` or `eventlog` endpoints listed above, but conform to a certain format.

**Note**: Ad events must also conform to the documentation for the `events` endpoint listed above.

# Field: Name

To be considered an ad event, the `name` field must have one of the following values:

* `ad-requested` - An ad was requested from the ad provider
* `ad-not-requested` - An ad was not requested for the user (segmentation reasons, killswitch etc.)
* `ad-request-failed` - An ad was not recieved from the ad provider (if an ad was not available, or the provider returned an exception)
* `ad-shown` - An ad was shown to the user
* `ad-action-completed` - An ad action was competed by the user (ie. banner ad clicked, offerwall offer completed etc.)

# Field: Ad Type

The type of ad.

* Field: `parameters.adType`
* Type: String
* Required: Yes

The `parameters.adType` field can have any of the following values:

* `banner` - Type of ad was a banner ad
* `interstitial` - Type of ad was an interstitial ad
* `offerwall` - Type of ad was an offerwall
* `ea2` - Type of ad was EA2

**Note:** If this field is not specified in the request, the event will be considered in an **error** state.
Events in an error state will be published to the error output location, and not available in any reports.

# Field: Ad Provider

The provider of the ad

* Field: `parameters.adProvider`
* Type: String
* Required: Yes

**Note:** If this field is not specified in the request, the event will be considered in an **error** state.
Events in an error state will be published to the error output location, and not available in any reports. 

The `parameters.adProvider` field can have any of the following values:

* `admob` - Ad provider was AdMob
* `burstly` - Ad provider was Burstly

# Field: Ad Publisher Id

The AdMob publisher id. Only specify this field if the Ad Provider is `admob`

* Field: `parameters.adPublisherId`
* Type: String
* Required: No

# Field: Ad App Id

The Burstly App Id. Only specify this field if the Ad Provider is `burstly`

* Field: `parameters.adAppId`
* Type: String
* Required: No

# Field: Ad Zone Id

The Burstly Zone Id. Only specify this field if the Ad Provider is `burstly`

* Field: `parameters.adZoneId`
* Type: String
* Required: No

# Field: Ad Currency Id

The Burstly Currency Id. Only specify this field if the Ad Provider is `burstly` and the Ad Type is `offerwall` or `ea2`

* Field: `parameters.adCurrencyId`
* Type: String
* Required: No

# Field: Ad Currency Amount

The Burstly Currency Amount. Only specify this field if the Ad Provider is `burstly` and the Ad Type is `offerwall` or `ea2`

* Field: `parameters.adCurrencyAmount`
* Type: String
* Required: No

# Field: Ad Not Requested Reason

A reason why an ad was not requested for the user. Only specify this field if the event name is `ad-not-requested`.

* Field: `parameters.adNotRequestedReason`
* Type: String
* Required: Yes (only for ad-not-requested events)

The `parameters.adNotRequestedReason` field can have any of the following values:

* `killswitch` - The ad was not requested because of a killswitch
* `coppa` - The ad was not requested because of COPPA regulations

# Field: Ad Segmentation

Name of the segmentation the user falls in

* Field: `parameters.adSegmentation`
* Type: String
* Required: No

# Examples

--

Ad Requested (Burstly)

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "ad-requested",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403,
        "adProvider": "burstly",
        "adType": "banner",
        "adAppId": "1234",
        "adZoneId": "2345"
    }
  }
}
< 202

Ad Requested (AdMob)

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "ad-requested",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403,
        "adProvider": "admob",
        "adType": "banner",
        "adPublisherId": "0987654321"
    }
  }
}
< 202

Ad Not Requested (Burstly)

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "ad-not-requested",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403,
        "adProvider": "burstly",
        "adType": "banner",
        "adAppId": "1234",
        "adZoneId": "2345",
        "adNotRequestedReason": "killswitch"
    }
  }
}
< 202

Ad Not Requested (AdMob)

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "ad-not-requested",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403,
        "adProvider": "admob",
        "adType": "banner",
        "adPublisherId": "0987654321",
        "adNotRequestedReason": "coppa"
    }
  }
}
< 202

Ad Request Failed (Burstly)

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "ad-request-failed",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403,
        "adProvider": "burstly",
        "adType": "banner",
        "adAppId": "1234",
        "adZoneId": "2345"
    }
  }
}
< 202

Ad Request Failed (AdMob)

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "ad-request-failed",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403,
        "adProvider": "admob",
        "adType": "banner",
        "adPublisherId": "0987654321"
    }
  }
}
< 202

Ad Shown (Burstly)

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "ad-shown",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403,
        "adProvider": "burstly",
        "adType": "banner",
        "adAppId": "1234",
        "adZoneId": "2345"
    }
  }
}
< 202

Ad Shown (AdMob)

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "ad-shown",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403,
        "adProvider": "admob",
        "adType": "banner",
        "adPublisherId": "0987654321"
    }
  }
}
< 202

Ad Action Completed (Burstly)

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "ad-action-completed",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403,
        "adProvider": "burstly",
        "adType": "banner",
        "adAppId": "1234",
        "adZoneId": "2345"
    }
  }
}
< 202

Ad Action Completed (AdMob)

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "ad-action-completed",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403,
        "adProvider": "admob",
        "adType": "banner",
        "adPublisherId": "0987654321"
    }
  }
}
< 202

Ad Action Completed (Burstly Offerwall)

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "ad-action-completed",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403,
        "adProvider": "burstly",
        "adType": "offerwall",
        "adAppId": "1234",
        "adZoneId": "2345",
        "adCurrencyId": "coins",
        "adCurrencyAmount": 50
    }
  }
}
< 202

Ad Action Completed (Burstly EA2)

POST /rest/v1/games/:gameId/events
> Content-Type: application/json
{
  "event": 
    {
      "name": "ad-action-completed",
      "parameters": {
        "userId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "tntId": "2501b552-a469-4e04-93b1-1e3c34523d85",
        "platform":"apple",
        "sessionId":"1234567890",
        "type":"tnt",
        "timestamp": 1386168467403,
        "adProvider": "burstly",
        "adType": "ea2",
        "adAppId": "1234",
        "adZoneId": "2345",
        "adCurrencyId": "coins",
        "adCurrencyAmount": 50
    }
  }
}
< 202